{% extends 'base.html.twig' %}


{% block title %}{{ name }}{% endblock %}



{% block body %}
    <h1 class="my-3 text-center">Bienvenue à {{ name }}</h1>
    <hr>
    <div class="container row">
        <div class="left col-4">

        </div>
        <div class="main col">

        </div>

    </div>

{% endblock %}