{% extends 'base.html.twig' %}


{% block title %}{{ name }}{% endblock %}



{% block body %}
    <div class="spacer-5"></div>
    <h1 class="my-3 text-center">{{ name }}</h1>
    <hr>
    <div class="container-fluid row mt-5">
        <div class="col-4 ">
            <div class="">

            </div>
        </div>
        <div class="col-8 ">
            <div class="">

            </div>
        </div>

{% endblock %}